@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/fonts.scss' as *;
@use '../../../shared/styles/variables.scss' as *;

.welcome {
  display: flex;

  &__title {
    margin-bottom: 32px;

    @include text-xl;
    font-family: Manrope, Arial, sans-serif;
    font-weight: $font-weight-medium;
    color: var(--color-gray-950);
  }

  &__description {
    @include text-md;

    margin: 0 16px;
    margin-bottom: 24px;

    font-family: Manrope, Arial, sans-serif;
    font-weight: $font-weight-regular;
    color: var(--color-gray-700);
    text-align: start;
  }

  &__description-details {
    display: inline;
    font-weight: $font-weight-medium;
  }

  &__copyright {
    margin-block: 30px;
  }
}
