@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/fonts.scss' as *;
@use '../../../shared/styles/variables.scss' as *;

.sign-up {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  min-height: 100vh;

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

    width: 100%;
    max-width: 1100px;
    padding: 40px;

    background-color: var(--color-gray-200);
    border-radius: 20px;
    box-shadow: $shadow-xl;
  }

  &__logo {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__logo-image {
    width: 156px;
    height: 38px;
    object-fit: contain;
  }

  &__title {
    font-family: Manrope, Arial, sans-serif;
    font-weight: $font-weight-medium;
    color: var(--color-gray-800);
    text-align: start;

    @include text-lg;
  }

  &__description {
    font-family: Manrope, Arial, sans-serif;
    font-weight: $font-weight-regular;
    color: var(--color-gray-600);
    text-align: start;

    @include text-md;
  }

  &__user-info-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__user-type-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__signup-button {
    width: 315px;
  }

  &__signup-icon {
    width: 24px;
    height: 24px;
    color: var(--color-white);
  }

  &__toggle-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;

    p {
      font-family: Manrope, Arial, sans-serif;
      font-weight: $font-weight-regular;
      color: var(--color-gray-800);

      @include text-md;
    }
  }

  &__actions-wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__forgot-text {
    display: flex;
    gap: 5px;
    align-items: center;

    font-family: Manrope, Arial, sans-serif;
    font-weight: $font-weight-regular;
    color: var(--color-gray-800);

    @include text-md;

    &_link {
      cursor: pointer;
      color: var(--color-brand-500);
      text-decoration: underline;
    }
  }

  &__license-text {
    display: flex;
    gap: 5px;
    align-items: center;

    font-family: Manrope, Arial, sans-serif;
    font-weight: $font-weight-regular;
    color: var(--color-gray-800);

    @include text-md;

    &_link {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__options-container {
   max-width: 495px;
   height: auto;
  }

  &__input-wrapper {
    display: flex;
    gap: 30px;

    &_columns {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      span {
        margin-bottom: 5px;
      }
    }
  }

  &__input-container {
    max-width: 495px;
  }

  &__bottom-text {
    display: flex;
    gap: 10px;
    align-items: center;

    font-family: Manrope, Arial, sans-serif;
    font-weight: $font-weight-regular;
    color: var(--color-gray-800);
    padding-bottom: 20px;

    @include text-md;

    &_link {
      cursor: pointer;
      color: var(--color-brand-500);
      text-decoration: underline;
    }
  }
}
