$font-size-display-2xl: 4.5rem;
$font-size-display-xl: 3.75rem;
$font-size-display-lg: 3rem;
$font-size-display-md: 2.25rem;
$font-size-display-sm: 1.875rem;
$font-size-display-xs: 1.5rem;
$line-height-display-2xl: 5.625rem;
$line-height-display-xl: 4.5rem;
$line-height-display-lg: 3.75rem;
$line-height-display-md: 2.75rem;
$line-height-display-sm: 2.375rem;
$line-height-display-xs: 2rem; // update ui kit from 1.875rem;
$font-size-text-xl: 1.25rem;
$font-size-text-lg: 1.125rem;
$font-size-text-2lg: 1.375rem;
$font-size-text-md: 1rem;
$font-size-text-sm: 0.875rem;
$font-size-text-xsm: 0.8125rem;
$font-size-text-xs: 0.75rem;
$font-size-text-2xs: 0.6875rem;
$line-height-text-xl: 1.875rem;
$line-height-text-lg: 1.35rem; // update ui kit from 1.75rem;
$line-height-text-2lg: 1.75rem; // add for big optional lg text;
$line-height-text-md: 1.2rem; // update ui kit from 1.5rem;
$line-height-text-2md: 1.375rem; // not by ui kit

/* xsm size not by ui kit */
$line-height-text-xsm: 1.375rem;

/* xxsm size not by ui kit */
$line-height-text-xxsm: 1.2rem;
$line-height-text-sm: 1.25rem;
$line-height-text-xs: 1.125rem;
$line-height-text-2xs: 0.9rem;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 450;
$font-weight-2medium: 500;
$font-weight-regular: 400;
$letter-spacing: -0.02;

/* xxs size not by ui kit */
$line-height-text-xxs: 1.05rem;

@font-face {
  font-family: Manrope;
  font-weight: $font-weight-regular;
  font-style: normal;
  src: url('@src/assets/fonts/Manrope-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Manrope;
  font-weight: $font-weight-medium;
  font-style: normal;
  src: url('@src/assets/fonts/Manrope-Medium.woff2') format('woff2');
}
