
$font-size-text-lg: 2rem;
$font-size-text-md: 1rem;
$font-size-text-sm: 1rem;
$line-height-text-lg: 2.4rem;
$line-height-text-md: 1.5rem;
$line-height-text-sm: 1.5rem;
$font-weight-medium: 500;
$font-weight-regular: 400;
$letter-spacing: -0.02;

@font-face {
  font-family: Manrope;
  font-weight: $font-weight-regular;
  font-style: normal;
  src: url('@src/assets/fonts/Manrope-Regular.woff2') format('woff2');
}

@font-face {
  font-family: Manrope;
  font-weight: $font-weight-medium;
  font-style: normal;
  src: url('@src/assets/fonts/Manrope-Medium.woff2') format('woff2');
}
