@use 'fonts' as *;
@use 'variables' as *;
@use 'sass:math';

@mixin till($max-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

@mixin from($min-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin mobile {
  @include till($mobile-max) {
    @content;
  }
}

@mixin desktop {
  @include from($desktop) {
    @content;
  }
}

@mixin typography($font-size, $line-height, $letter-spacing: null) {
  font-size: $font-size;
  line-height: $line-height;

  @if $letter-spacing {
    letter-spacing: math.round(
      (math.div($font-size, 1rem) * 16px) * $letter-spacing
    );
  }
}

@mixin text-lg($custom-font-size: null, $custom-line-height: null) {
  @include typography(
    if($custom-font-size != null, $custom-font-size, $font-size-text-lg),
    if($custom-line-height != null, $custom-line-height, $line-height-text-lg)
  );
}

@mixin text-md($custom-font-size: null, $custom-line-height: null) {
  @include typography(
    if($custom-font-size != null, $custom-font-size, $font-size-text-md),
    if($custom-line-height != null, $custom-line-height, $line-height-text-md)
  );
}
