:root {
  --app-bg-color: #fff;
  --app-page-bg-color: 'none';
  --app-overlay-color: rgba(12, 17, 29, 0.7);
  --app-overlay-dark-color: rgba(12, 17, 29, 0.8);
  --background-overlay-color: rgba(0, 0, 0, 0.7);
  --modal-backdrop-blur: 16.6px;
  --color-white: #fff;
  --color-black: #000;
  --color-write-09: rgba(255, 255, 255, 0.9);
  --color-transparent: transparent;
  --color-brand-500: #E4003C;
  --color-brand-700: #B50030;
  --color-gray-50: #E7E7E7;
  --color-gray-100: #E9E9E9;
  --color-gray-600: #8A8997;
  --color-gray-800: #373737;
  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;
  --color-error-950: #55160c;
  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;
  --color-warning-950: #4e1d09;
  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #dcfae6;
  --color-success-200: #a9efc5;
  --color-success-300: #75e0a7;
  --color-success-400: #47cd89;
  --color-success-500: #17b26a;
  --color-success-600: #079455;
  --color-success-700: #067647;
  --color-success-800: #085d3a;
  --color-success-900: #074d31;
  --color-success-950: #053321;
}