@use '../../../shared/styles/mixins' as *;
@use '../../../shared/styles/fonts.scss' as *;
@use '../../../shared/styles/variables.scss' as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  min-height: 100vh;

  font-family: Manrope, Arial, sans-serif;
  font-weight: $font-weight-medium;
  color: var(--color-gray-800);
  text-align: start;

  @include text-md;
}
